body {
    background-color: #00E5DB;
    color: rgba(0, 0, 0, 0.8);
    font-family: "Bitter", serif;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 1px;
}

h1 {
	text-align: center;
	margin-bottom: 15px;
	font-size:35px;
}

.content {
	margin-left: auto;
	margin-right: auto;
	/*border: 2px solid #050502;*/
	width: 710px;
	height: auto;  
}

.buttonLabel {
	font-size: 30px;
}

.myButton {
	display: block;
	width: 130px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	/* margin-top: 20px; */
}

p {
	text-align: center;
	display: inline-block;
}

#board{
	background-color: white;
	height: 420px;
	width: 640px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 43px;
	border: 1px solid #000000;
}

.folder_name_div {
	background-color: #000;
	color: #FFF;
	text-align:center;
	font-size:25px;
	border: 1px dashed red;
}

.note_name_div, .new_note_name_div {
	background-color: rgba(0,0,255,0.8);
	color: #FFF;
	text-align:left;
	font-size:20px;
	border: 1px dashed red;
	padding-left:3%;
}

.circle {
	width: 40px;
	height: 30px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	border:1px solid white;
	font-size:30px;
	margin-left:5%;
	display:inline-block;
	vertical-align:middle;
	padding-bottom:0.7%;
	cursor:pointer;
}

#save-button {
	float:right;
	margin-right:5%;
	margin-top:10%;
	border:2px dashed red;
	background-color:white;
	width:9%;
	text-align:center;
	cursor:pointer;
}