/** {
	border: 1px dashed red;
}*/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}



/*////////////////////////////////////////////////////
Standard HTML Tags
////////////////////////////////////////////////////*/

html, body {
    height: 99%;
}

body {
    background-color: #00E5DB;
}

input {
	outline: none;
}

p {
	pointer-events: none;
}

a {
	text-decoration: none;
	color: #900000;
}

a:hover {
	color: #B00000;
}

a:active {
	color: #500000;
}


/*////////////////////////////////////////////////////
Body Text
////////////////////////////////////////////////////*/

body, .noteafter, .qaafter {
	color: rgba(0, 0, 0, 0.8);
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 1px;
    text-transform: none;
}


/*////////////////////////////////////////////////////
Custom Classes
////////////////////////////////////////////////////*/

.centered {
	margin: auto;
	max-width: 700px;
}

.box {
	background-color: rgba(255, 255, 255, 0.35);
	padding: 4px;
	padding-left: 7px;
	padding-right: 7px;
}

.notecolon {
	font-family: "Bitter", serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 2px;
	color: rgba(0, 0, 0, 0.7);
	text-transform: uppercase;
}

.noteafter {
    color: rgba(0, 0, 0, 0.5);
}

.qacolon {
	font-family: "Bitter", serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 2px;
	color: rgba(0, 0, 0, 0.7);
	text-transform: uppercase;
}

.qaafter {
    color: rgba(0, 0, 0, 0.5);
}

.title {
	font-family: "Bitter", serif;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 2px;
	color: rgba(0, 0, 0, 0.7);
	text-align: center;
	text-transform: uppercase;
}

.section {
	font-family: "Bitter", serif;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 1.5px;
	color: rgba(0, 0, 0, 0.6);
	text-transform: uppercase;
}


/*////////////////////////////////////////////////////
IDs
////////////////////////////////////////////////////*/

#noteArea {
	width: 96%;
	height: 96%;
	margin-left: 2%;
	margin-top: 2%;
	border-style: none;
	background-color: rgba(0, 0, 0, 0);
	outline: none;
	resize: none;
	white-space: pre;

	color: rgba(0, 0, 0, 0.8);
}








