.basic-trigger{font-weight:font-weight;text-decoration:text-decoration;font-size:font-size;font-family:"Helvetica";font-style:font-style}
.basic-after{font-weight:font-weight;text-decoration:text-decoration;font-size:font-size;font-family:"Times New Roman";font-style:font-style}
.basic-container{background-color:background-color;text-align:text-align}
