.bold-trigger{font-weight:none;text-decoration:underline;font-size:Medium;font-family:"Arial";font-style:none}
.bold-after{font-weight:none;text-decoration:none;font-size:Medium;font-family:"Arial";font-style:none}
