.bold-trigger{font-weight:bold;text-decoration:underline;font-size:Medium;font-family:"Arial";font-style:italic}
.bold-after{font-weight:bold;text-decoration:underline;font-size:Medium;font-family:"Arial";font-style:italic}
.bold-container{background-color:white;text-align:center}
